{% extends "base_generic.html" %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
    {% block title %}<title>Autocultivo | QueCorra Growshop</title>{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="icon" type="image/icon type" href="{% static 'img/icono.ico' %}">

    <!-- CSS Propios-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/EstAutocu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    
    <!-- JS Propios-->
    <script src="{% static 'js/Funciones.js' %}" type="text/Javascript"></script>
    <style>
        body {
            background-color: #E65573;
        }

        a:hover {
            text-decoration: none;
            color: white;
        }
    </style>
</head>

<body>

    <div id=capa>
        <!--TITULO AUTOCULTIVO-->
        <br>
        <br>
        <div class="row justify-content-center">
            <div class="col-xl-11 col-lg-10 col-md-10 col-sm-10 col-10">
                <div id=caja style="background: url('/static/img/fondo3.jpg');">
                    <div class="letras">
                        <center>
                            <h1>Autocultivo e Información</h1>
                        </center>
                        <p>En esta sección encontrarás toda la información para poder comenzar con tu autocultivo
                            de forma autónoma, ya sea del reino fungi o del THC. ¡Para más información sigue bajando!
                            👽.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <!--TITULO FUNGIS-->
        <div class="row justify-content-around">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                <div id=caja style="background: url('/static/img/fondo3.jpg');">
                    <div class="letras">
                        <center>
                            <h1>Fungi 🍄</h1>
                        </center>
                        <p>Esta sección corresponde a los hongos, en los siguientes enlaces encontrarás
                            información sobre la seta que elijas, ya sea información detallada o general,
                            ¡y también sobre el cultivo de la misma!🍄.</p>
                    </div>
                </div>
            </div>
            <!--TITULO PLANTAE-->

            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                <div id=caja style="background: url('/static/img/fondo3.jpg');">
                    <div class="letras">
                        <center>
                            <h1>Plantæ 🌱</h1>
                        </center>
                        <p>Dispersas alrededor de todo el mundo, las distintas cepas de cannabis han dado lugar a una
                            gran variedad de plantas con genéticas exóticas. ¡Descubre aquí cuáles son y deléitate!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <!--CEPAS-->
        <div class="row justify-content-around">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                <!--FUNGI 1-->
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/tasmania.jpg' %}">
                    <div class="card-body">
                        <h4 class="card-title">Tasmania</h4>
                        <p class="card-text">Esta variedad se encuentra en la isla de Tasmania justo abajo de Australia.
                            Tasmania es un estado de Australia subtropical y tiene 4 estaciones. Tiende a hacer mucho
                            frio a veces, por lo que esta variedad funciona muy bien en temperaturas frías,
                            como en exterior. </p>
                        <a href="{% url 'seta1' %}" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                <!--PLANTAE 1-->
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/bilbo.jpeg' %}">
                    <div class="card-body">
                        <h4 class="card-title">Kritikal Bilbo</h4>
                        <p class="card-text">De Afganistán pasando por Suiza hasta Bilbao,
                            para ser coronada reina del baile y dejarnos a todos embelesados.
                            Kritikal Bilbo, descendiente de la Critical Mass,
                            un cruce entre Afgana y Skunk, una de las variedades
                            más populares entre los cultivadores. </p>
                        <a href="{% url 'cepa1' %}" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>

        </div>

        <hr> <!------------------------------------------------------------------------- -->

        <div class="row justify-content-around">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                <!--FUNGI 2-->
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/zstrain.jpg' %}">
                    <div class="card-body">
                        <h4 class="card-title">Z Strain</h4>
                        <p class="card-text">Algunos cultivadores dicen que se trata de la Golden Teacher,
                            pero realmente se trata de una especie distinta mostrando características
                            diferentes que la GT. Se trata de un colonizador agresivo y fructificador
                            prolífico, produciendo setas de tamaño medio a grande. </p>
                        <a href="#" class="btn btn-primary" onclick="proximamente()">¡Proximamente!</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                <!--PLANTAE 2-->
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/ak.jpg' %}">
                    <div class="card-body">
                        <h4 class="card-title">Cherry AK</h4>
                        <p class="card-text">Cherry AK de Gramovatio es una selección de AK-47
                            de Serious Seeds originaria de Estados Unidos.
                            Es una variedad con un olor y sabor a cereza, dulce y agradable,
                            combinado con un toque picante que permite disfrutar de su
                            esencia al poder olerla. </p>
                        <a href="#" class="btn btn-primary" onclick="proximamente()">¡Proximamente!</a>
                    </div>
                </div>
            </div>

        </div>

        <hr> <!-- ----------------------------------------------------------------------- -->

        <div class="row justify-content-around">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                <!--FUNGI 3-->
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/caerulea.jpg' %}">
                    <div class="card-body">
                        <h4 class="card-title">Psilocybe caerulea</h4>
                        <p class="card-text">Colonizadora de jardines y pastos, tarugos de madera,
                            humus y a veces en restos de madera y también en el suelo desnudo.</p>
                        <p>Al parecer tiene algún componente desconocido como ocurre con inocybe
                            o psilocybe aeruginaescens (muy común en los Países Bajos).</p>
                        <a href="#" class="btn btn-primary" onclick="proximamente()">¡Proximamente!</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                <!--PLANTAE 3-->
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/darkuba.jpg' %}">
                    <div class="card-body">
                        <h4 class="card-title">Darbuka</h4>
                        <p class="card-text">Os presentamos un gran trabajo de selección
                            y estabilización del equipo de Real del Catorce.
                            Pioneros a nivel mundial en enriquecer genéticas con CBD,
                            tras muchos años de arduo trabajo, tenemos la satisfacción
                            de poder ofrecer al cultivador final una de nuestras variedades estables,
                            con un contenido de THC inferior al 0,2% (media total).
                            Por Real del Catorce en olaboración con Gramovatio Growshop online. </p>
                        <a href="#" class="btn btn-primary" onclick="proximamente()">¡Proximamente!</a>
                    </div>
                </div>
            </div>

        </div>

        <br>
        <br>
    </div> <!-- -->
    
</body>

</html>
{% endblock %}